.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "goalstracker goalstracker journaling updatefeed"
    "lifestatus lifestatus lifestatus updatefeed"
    "accountabilitypartner  accountabilitypartner accountabilitypartner accountabilitypartner"
    "footer footer footer footer";
}

.grid-item1 {
  grid-area: header;
}

.grid-item2 {
  grid-area: goalstracker;
}

.grid-item3 {
  grid-area: updatefeed;
}

.grid-item4 {
  grid-area: accountabilitypartner;
}

.grid-item5 {
  grid-area: lifestatus;
}

.grid-item6 {
  grid-area: journaling;
}

.grid-item7 {
  background-color: black;
  color: white;
  grid-area: footer;
}

.grid-container > div {
  text-align: center;
  padding: 15px;
}

.goals-tracker {
  opacity: 0.8;
  color: white;
  background-color: #236B8E;
  font-size: 30px;
  height: auto;
  border-radius: 25px;
  padding: 20px;
}

.status-updates {
  opacity: 0.8;
  color: white;
  background-color: #236B8E;
  text-align: center;
  font-size: 15px;
  height: 880px;
  border-radius: 25px;
  padding: 30px;
}


.accountability-partner {
  opacity: 0.8;
  color: white;
  background-color: #236B8E;
  text-align: center;
  padding: 25px;
  font-size: 30px;
  height: auto;
  border-radius: 25px;
}

.life-status-tracker {
  opacity: 0.8;
  color: white;
  background-color: #236B8E;
  text-align: center;
  font-size: 30px;
  height: 600px;
  border-radius: 25px;
  padding: 20px;
}

.journaling {
  opacity: 0.8;
  color: white;
  background-color: #236B8E;
  text-align: center;
  font-size: 30px;
  height: 250px;
  border-radius: 25px;
  padding: 20px;
}