.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:85px 360px 500px 300px auto;
  grid-template-areas:
    "header header header header"
    "goalstracker goalstracker goalstracker updatefeed"
    "lifestatus lifestatus lifestatus updatefeed"
    "accountabilitypartner accountabilitypartner journaling journaling"
    "footer footer footer footer";
}

.grid-item1 {
  border-style: solid;
  border-width: 10px;
  grid-area: header;
}

.grid-item2 {
  grid-area: goalstracker;
}

.grid-item3 {
  grid-area: updatefeed;
}

.grid-item4 {
  grid-area: accountabilitypartner;
}

.grid-item5 {
  grid-area: lifestatus;
}

.grid-item6 {
  grid-area: journaling;
}

.grid-item7 {
  background-color: black;
  color: white;
  grid-area: footer;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.goals-tracker {
  border-style: solid;
  background-color: cadetblue;
  font-size: 30px;
  padding: 20px;
  height: 340px;
  border-radius: 25px;
}

.status-updates {
  background-color: cadetblue;
  border-style: solid;
  text-align: center;
  font-size: 30px;
  height: 842px;
  border-radius: 25px;
}


.accountability-partner {
  background-color: cadetblue;
  border-style: solid;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  height: 250px;
  border-radius: 25px;
}

.life-status-tracker {
  background-color: cadetblue;
  border-style: solid;
  text-align: center;
  font-size: 30px;
  height: 480px;
  border-radius: 25px;
}

.journaling {
  background-color: cadetblue;
  border-style: solid;
  text-align: center;
  font-size: 30px;
  height: 250px;
  border-radius: 25px;
}