
.grid-container2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 20%, 60%, 20%;
    grid-template-areas:
      "header header header header"
      "picture picture usergoals usergoals"
      "footer footer footer footer";
    padding: 15px;
  }

  .grid-container2 > div {
    text-align: center;
    padding: 20px;
  }

  .grid-item11 {
    grid-area: header;
    padding: 12px;
    text-align: center;
  }

  .grid-item22 {
    grid-area: picture;
    text-align: center;
  }

  .grid-item33 {
      text-align: center;
      opacity: 0.8;
      word-wrap: break-word;
      grid-area: usergoals;
  }

  .grid-item44 {
    background-color: black;
    color: white;
    grid-area: footer;
  }

  .grid-item77 {
    background-color: black;
    color: white;
    grid-area: footer;
    padding: 15px;
    text-align: center;
  }


