
.grid-container2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header header "
      "usergoals usergoals"
      "footer footer";
  }

  .grid-container2 > div {
    text-align: center;
  }

  .grid-item11 {
    grid-area: header;
    padding: 22px;
    text-align: center;
  }

  .grid-item33 {
      text-align: center;
      padding: 20px;
      grid-area: usergoals;
  }



