


.grid-container4 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "write blog"
      "footer footer";
  }

  .grid-item41 {
    grid-area: title;
    text-align: center;
    background-color: #236B8E;
    padding: 20px;
    opacity: .8;
  }
  
  .grid-item42 {
    padding: 40px;
    text-align: center;
    grid-area: blog;
  }

  .ele {
    background-color: #236B8E;
    opacity: 0.8;
    border-radius: 25px;
    padding: 50px;
    text-align: center;
  }

  .grid-item43 {
    padding: 40px;
    text-align: center;
    grid-area: write;
  }

  .grid-item77 {
    background-color: black;
    color: white;
    grid-area: footer;
    padding: 15px;
    text-align: center;
  }

  